.dragExample{
	list-style: none;
	padding: 5px;
    background-color: var(--light);
    border-radius: 6.25px;
    margin: 5px;
    width: 300px;
    position: absolute;
    left: -240px;
    bottom: 160px;
}

.dragExample input{
	width: calc(100% - 4em);
	display: inline-block;
	cursor: default;
}

.arc{
	position: absolute;
    width: 100px;
    height: 100px;
    border-left: solid 23px var(--dark);
    border-bottom: solid 2px var(--dark);
    border-radius: 0 0 0 87%;
    bottom: 80px;
    left: -104px;
}

.pointer{
	position: absolute;
    bottom: 68px;
    left: -20px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 30px solid var(--dark);
}

.explanation{
	position: absolute;
    bottom: -8px;
    left: -303px;
    width: 200px;
}